.preload{position:relative;}
.preload:before {content:'';position:absolute;width:75px;height:75px;left:0;right:0;bottom:0;top:0;margin:auto;border-radius:50%;background-color:transparent;border:2px solid #222;border-top:2px solid #03A9F4;-webkit-animation:1s helper-preloader linear infinite;animation: 1s helper-preloader linear infinite;box-shadow:0 0 15px rgba(0,0,0,0.15);}
.preview-image{width:0px!important;}
.preview-image[src]{width:100%!important;}

@keyframes helper-preloader{
	from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}